    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

.formbody {
    position: absolute;
    width: 350px;
    height: auto;
    display: flex;
     flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    z-index: 1;
  }
  
  .fondo{
    background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buton{
        border: 1px solid rgba(10, 180, 180, 1);
        background: rgba(20, 20, 20, .6);
        font-size: 18px;
        color: white;
         margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
  }   

  .buton:hover {
          background: rgba(20, 20, 20, .8);
          padding: 10px 80px;
        }
      
  .inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}